h1 {
  text-align: center;
}
.message {
  height: 100px;
  width: 100%;
}

.body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  background-image: url('../../Images/images.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}